<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nhà Máy Kỳ Nam II</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <!-- <%= JSON.stringify(userEdit) %> --> 
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create" class="active">Đăng Ký</a>
        <a href="/createlnx">Nhập Lệnh</a>
        <a href="/khsx">Kế hoạch sản xuất</a>
        <a href="#about">About</a>
      </div>
    <div class="container">
            <h2>Update Form</h2>
            <form id="signupForm" action="/create-user" method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" value="<%= userEdit.username %>" name="username" >
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" value="<%= userEdit.email %>" name="email" >
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" value="<%= userEdit.password %>" name="password" >
                    
                    
                </div>
                
                <button class="button-2" type="submit">Signup</button>
            </form>
            <p id="message"></p>
    </div>
    
</body>
</html>